* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
main {
  background-color: #ecdfcf;
}
body {
  background-color: #ecdfcf;
}
/* tekst på Billede i header */
.container_01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
  position: absolute;
  font-family: "zen loop";
}

/* Adresse & Åbningstider */
.info {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  background-color: #28524b;
}

.info img {
  margin: 5px;
  padding: 20px;
}

.adresser {
  text-align: center;
}

.adresser h2 {
  font-family: "zen loop";
}
.adresser p {
  font-family: "crimson text";
}

.aabningstider h2 {
  font-family: "zen loop";
}
.aabningstider p {
  font-family: "crimson text";
}

.info h2 {
  font-size: 40px;
  padding: 20px;
}

/* Adresser */
.adresser {
  color: white;
  display: grid;
  place-content: center;
}

/* åbningstider */
.aabningstider {
  color: white;
  text-align: center;
  display: grid;
  place-content: center;
}

/* sociale medier */
.socialemedier h2 {
  font-family: "zen loop";
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}

.foelg_os_links {
  font-family: "crimson text";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.foelg_os_links_pic {
  width: 30px;
}

.foelg_os_links_pic {
  order: -1;
  margin-left: 230px;
}

.foelg_os_links p {
  grid-column: 2/2;
  margin-top: 30px;
}

.foelg_os_links_txt {
  padding: 10px;
}
.foelg_os_links img {
  grid-column: 1/1;
  margin-top: 30px;
}
.foelg_os_pic {
  margin: 5px;
  padding: 20px;
}

/* ------------------------------ */
/* Besøg os */
.besoeg_os {
  text-align: center;
  margin-top: 20px;
}
.besoeg_os img {
  margin: 5px;
  padding: 20px;
}
.besoeg_os h2 {
  padding: 15px;
  font-size: 35px;
  font-family: "zen loop";
}
.besoeg_os p {
  font-family: "crimson text";
}

/* layoutdiagram-------------------- */
.hero_5 h2 {
  font-size: 45px;
  background-size: cover;
}

/* Billede på forside  */
@media (min-width: 800px) {
  .container_01 {
    position: absolute;
    font-family: "zen loop";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 3;
    font-size: 5em;
  }
}

/* ------------------------------------------------ */
/* Besøg os */
@media (min-width: 800px) {
  .besoeg_os {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 1;
  }
  .besoeg_os p {
    display: grid;
    grid-column: 2/1;
  }
  .besoeg_os img {
    margin-top: 27px;
    margin-bottom: 61px;
  }
  .besoeg_os_txt {
    margin-top: 125px;
  }
  .besoeg_os_txt h2 {
    font-size: 70px;
  }
  .besoeg_os_txt p {
    font-size: 20px;
  }
}

/* ------------------------------------------------ */
/* Adresser & åbningstider */
@media (min-width: 800px) {
  .info {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 800px) {
  .info img {
    order: -1;
    padding: 80px;
    height: 609px;
    width: 679px;
  }
}

@media (min-width: 800px) {
  .a_aa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 24px;
  }
  .adresser p {
    display: grid;
    grid-column: 2/2;
    font-size: 20px;
  }
  .adresser h2 {
    display: grid;
    grid-column: 2/2;
    font-size: 70px;
  }
}
@media (min-width: 800px) {
  .aabningstider p {
    font-size: 20px;
  }
  .aabningstider h2 {
    font-size: 70px;
  }
}
@media (min-width: 800px) {
  .aabningstider {
    margin-left: 149px;
  }
}

.aabningstider {
  color: white;
  text-align: center;
  display: grid;
  place-content: center;
}

/* ------------------------------------------------ */
/* Sociale medier */
@media (min-width: 800px) {
  .socialemedier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 54px;
    padding-bottom: 54px;
  }
}
@media (min-width: 800px) {
  .foelg_os_links {
    margin-top: 20px;
  }
}
@media (min-width: 800px) {
  .foelg_os h2 {
    font-size: 70px;
  }
}
@media (min-width: 800px) {
  .foelg_os_links_txt {
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  .foelg_os_links_txt{
    
  }
}


230px