header {
  position: relative;
}

.background-image {
  width: 100%;
  height: auto;
}

main {
  margin: 20px 20px 20px;
  line-height: 190%;
}

.link {
  text-decoration: none;
  color: #fff;
}

li {
  display: list-item;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

@media (min-width: 800px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 10%;
    transform: translateX(-50%);
    z-index: 1;
  }

  header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    text-decoration: none;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "crimson text";
}

.menu a {
  display: block;
  margin: 0 20px;
  text-decoration: none;
  color: white;
}

.menu.active {
  display: flex;
}

@media (max-width: 800px) {
  nav {
    justify-content: space-between;
  }

  .burger-menu {
    position: relative;
    display: flex;
  }

  .menu {
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #000000;
    background-color: white;
    padding: 10px;
    flex-direction: column;
  }
}
