header {
  position: relative;
}

.background-image {
  width: 100%;
  height: auto;
}

main {
  margin: 20px 20px 20px;
  line-height: 190%;
}

.link {
  text-decoration: none;
  color: #fff;
}

li {
  display: list-item;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  h1 {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
    color: white;
    font-size: 50px;
  }

  nav {
    justify-content: space-between;
  }

  .burger-menu {
    position: relative;
    display: flex;
  }

  .menu {
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #000000;
    background-color: white;
    padding: 10px;
    flex-direction: column;
  }
}

@media (min-width: 800px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 10%;
    transform: translateX(-50%);
    z-index: 1;
  }

  header nav ul {
    display: flex;
    list-style: none; /* Fjern punkterne her */
    padding: 0; /* Tilføj denne linje */
    margin: 0; /* Tilføj denne linje */
    gap: 30px;
    text-decoration: none;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    position: absolute;
    top: 3%;
    left: 0;
    z-index: 10;
    align-items: center;
    font-family: "crimson text";
    border-radius: 10px;
    font-size: 150%;
  }

  .menu a {
    display: block;
    margin: 0 15px;
    text-decoration: none;
    color: white;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 2;
    color: white;
    font-size: 150px;
  }
}
