* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.hero_3 {
  display: grid;
  place-items: center;
  background-color: #130704;
}

ul,
img {
  grid-area: 1 / 1;
}

main {
  font-family: zen loop;
  font-size: 70px;
  background-color: #130704;
}

html {
  background-color: #130704;
}

p {
  font-family: "crimson text";
  font-size: 20px;
  margin: 50px;
  color: #fff;
}

img,
h1 {
  grid-area: 1 / 1;
}

h1 {
  font-size: 70px;
  color: #fff;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 40px;
  padding-top: 10px;
  color: #fff;
}

.col1 {
  background-color: #130704;
  padding-top: 40px;
}

.col2 {
  background-color: #ecdfcf;
  padding-top: 40px;
}

.col3 {
  background-color: #ecdfcf;
  padding-top: 40px;
}

.h2 {
  color: #130704;
}

.p {
  color: #130704;
}

.img,
video {
  padding: 20px;
  place-items: right;
}

/*FOOTER*/

footer {
  background-color: #130704;
  color: white;
  text-align: center;
  padding-top: 40px;
  font-family: "crimson text";
}

.ffootertop {
  font-family: "zen loop";
  font-size: 30px;
}

.ffootermenu {
  line-height: 30px;
}

.flogo img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

footer a {
  text-decoration: none;
  font-family: "crimson text";
  font-size: 18px;
  color: white;
}

footer ul {
  list-style: none;
}

.ffootersome {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ffootersome img {
  width: 50px;
  object-fit: cover;
}

.ffootercopy {
  font-size: 10px;
  margin-top: 30px;
}
.link:hover {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 800px) {
  /*HEADER*/

  .burger-menu {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo {
    width: 180px;
    object-fit: cover;
    padding-left: 60px;
  }

  nav {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    text-decoration: none;
    justify-content: flex-end;
  }

  header li a {
    text-decoration: none;
    font-family: "crimson text";
    color: black;
    font-size: 18px;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  .hero_3 {
    display: grid;
    place-items: center;
  }

  img,
  h1 {
    grid-area: 1 / 1;
  }

  .hero_3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  h1 {
    font-size: 130px;
  }

  h2 {
    font-size: 70px;
    text-align: center;
  }

  .col1 {
    background-color: #130704;
    padding-top: 80px;
  }

  .col2 {
    background-color: #ecdfcf;
    padding-top: 80px;
  }

  .col3 {
    background-color: #ecdfcf;
    padding-top: 80px;
  }

  p {
    font-family: "crimson text";
    font-size: 20px;
  }

  /*FOOTER*/

  footer {
    background-color: #130704;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: "crimson text";
    font-size: 20px;
  }

  .ffootertop {
    font-family: "zen loop";
    font-size: 40px;
  }

  .ffootermenu {
    line-height: 42px;
  }

  .flogo img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  footer a {
    text-decoration: none;
    font-family: "crimson text";
    color: white;
  }

  footer ul {
    list-style: none;
  }

  .ffootersome {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 90px;
  }

  .ffootersome img {
    width: 60px;
    object-fit: cover;
  }

  .ffootergrid3 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    gap: 280px;
  }

  .ffootercopy {
    font-size: 15px;
    margin-top: 30px;
  }

  .footer {
    color: white;
  }

  .col1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }

  .col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }

  .col3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
}
