* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.hero_3 {
  display: grid;
  place-items: center;
  background-color: black;
}

ul,
img {
  grid-area: 1 / 1;
}

main {
  font-family: zen loop;
  font-size: 70px;
  background-color: black;
}

html {
  background-color: black;
}

p {
  font-family: "crimson text";
  font-size: 20px;
  margin: 50px;
  color: black;
}

img,
h1 {
  grid-area: 1 / 1;
}

h1 {
  color: #ffffff;
  font-size: 70px;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 40px;
  padding-top: 10px;
  color: black;
}

.col1 {
  background-color: black;
  color: #ffffff;
  padding-top: 40px;
}

.col2 {
  background-color: #ecdfcf;
  padding-top: 40px;
  color: black;
}

.col3 {
  background-color: #ecdfcf;
  padding-top: 40px;
  color: black;
}

.img,
video {
  padding: 20px;
  place-items: right;
}

@media (min-width: 800px) {
  .hero_3 {
    display: grid;
    place-items: center;
  }

  img,
  h1 {
    grid-area: 1 / 1;
  }

  .hero_3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  h1 {
    color: #ffffff;
    font-size: 130px;
  }

  h2 {
    font-size: 70px;
    text-align: center;
    color: black;
  }

  p {
    font-family: "crimson text";
    font-size: 30px;
  }

  .col1 {
    background-color: black;
    color: #ffffff;
    padding-top: 80px;
  }

  .col2 {
    background-color: #ecdfcf;
    padding-top: 80px;
    color: black;
  }

  .col3 {
    background-color: #ecdfcf;
    padding-top: 80px;
    color: black;
  }
}
