* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font: 14px;
}

@media (max-width: 800px) {
  /*HEADER*/

  header nav {
    display: none;
  }

  .fheadermobile {
    display: flex;
    gap: 200px;
  }

  .logo {
    width: 70px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .burger-menu {
    display: block;
    margin-top: 25px;
    margin-left: 20px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 9px 0;
  }

  /*FOOTER*/

  footer {
    background-color: #130704;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: "crimson text";
  }

  .ffootertop {
    font-family: "zen loop";
    font-size: 30px;
  }

  .ffootermenu {
    line-height: 30px;
  }

  .flogo img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  footer a {
    text-decoration: none;
    font-family: "crimson text";
    font-size: 18px;
    color: white;
  }

  footer ul {
    list-style: none;
  }

  .ffootersome {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .ffootersome img {
    width: 50px;
    object-fit: cover;
  }

  .ffootercopy {
    font-size: 10px;
    margin-top: 30px;
  }
  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  /*SCROLL TO TOP*/

  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  .arrow-up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

@media (min-width: 800px) {
  .burger-menu {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo {
    width: 180px;
    object-fit: cover;
    padding-left: 60px;
  }

  nav {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  header li a {
    text-decoration: none;
    font-family: "crimson text";
    color: black;
    font-size: 18px;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  .li {
    color: black;
    background-color: black;
<<<<<<< HEAD
  }

  .menu {
=======
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .fheadermobile {
    position: relative;
  }

  .heru {
    position: relative;
    width: 100%;
  }

  .background-image {
    width: 100%;
  }

  .logo {
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    color: black;
  }

  li {
    color: white;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    align-items: center;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav ul {
    justify-content: flex-end;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  li {
    color: black;
  }

  li a {
    text-decoration: none;
    font-family: "crimson text";
    color: black;
    font-size: 18px;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  .li {
    color: black;
    background-color: black;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .galleri-section {
    position: relative;
  }

  .heru_4 {
    position: relative;
    width: 100%;
  }

  .background-image {
    width: 100%;
  }

  .logo {
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 2;
    left: 0;
    z-index: 2;
  }

  .container_01 {
    position: absolute;
    font-family: "zen loop";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 3;
    font-size: 5em;
  }

  .container_01 {
    position: absolute;
    font-family: "zen loop";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 3;
    font-size: 5em;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    color: black;
  }

  li {
    color: white;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    align-items: center;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav ul {
    justify-content: flex-end;
    gap: 10%;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  .burger-menu {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo {
    width: 180px;
    object-fit: cover;
    padding-left: 60px;
  }

  nav {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  header li a {
    text-decoration: none;
    font-family: "crimson text";
    color: black;
    font-size: 18px;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  .li {
    color: black;
    background-color: black;
  }

  .menu {
>>>>>>> 9b217bc501b944693900a6774220e7ae838fd809
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

<<<<<<< HEAD
  .galleri-section {
    position: relative;
  }

  .heru_4 {
=======
  .fheadermobile {
    position: relative;
  }

  .heru {
>>>>>>> 9b217bc501b944693900a6774220e7ae838fd809
    position: relative;
    width: 100%;
  }

  .background-image {
    width: 100%;
  }

  .logo {
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    color: black;
  }

  li {
    color: white;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    align-items: center;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav ul {
    justify-content: flex-end;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

<<<<<<< HEAD
  .Container_2_2 {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 20%;
  }
=======
  /*FOOTER*/
>>>>>>> 9b217bc501b944693900a6774220e7ae838fd809

  footer {
    background-color: #130704;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: "crimson text";
    font-size: 20px;
  }

  .ffootertop {
    font-family: "zen loop";
    font-size: 40px;
  }

  .ffootermenu {
    line-height: 42px;
  }

  .flogo img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  footer a {
    text-decoration: none;
    font-family: "crimson text";
    color: white;
  }

  footer ul {
    list-style: none;
  }

  .ffootersome {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 27px;
  }

  .ffootersome img {
    width: 60px;
    object-fit: cover;
  }

  .ffootergrid3 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    gap: 280px;
  }

  .ffootercopy {
    font-size: 15px;
    margin-top: 30px;
  }

<<<<<<< HEAD
  .footer {
    color: white;
  }

  /*SCROLL TO TOP*/
=======
  /* SCROLL */
>>>>>>> 9b217bc501b944693900a6774220e7ae838fd809

  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  .arrow-up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
