* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ecdfcf;
}

h1 {
  color: white;
}

p {
  color: black;
  font-size: 25px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
}

main {
  background-color: #ecdfcf;
}

.container_01 {
  position: absolute;
  font-family: "zen loop";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 3;
  font-size: 5em;
}

@media (min-width: 800px) {
  .burger-menu {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-bottom: 100px;
  }

  .logo {
    width: 180px;
    object-fit: cover;
    padding-left: 60px;
  }

  nav {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    text-decoration: none;
    justify-content: flex-end;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  /* Main */

  /******* OVERSKRIFTSBILLEDE ************/
  .overskrift_u {
    display: grid;
    place-items: center;
  }

  .overskrift_u img,
  .overskrift_u h1 {
    grid-area: 1/1;
    margin-bottom: 50px;
  }

  .overskrift_u img {
    aspect-ratio: 3/1;
    object-fit: cover;
  }

  .broed_og_boller img {
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: top;
  }

  .overskrift_u h1 {
    font-family: "zen loop";
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .udvalg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 100px;
    padding: 20px;
  }

  .udvalg img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  /*********** FOOTER *************/

  footer {
    background-color: #130704;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: "crimson text";
    font-size: 20px;
  }

  .ffootertop {
    font-family: "zen loop";
    font-size: 40px;
  }

  .ffootermenu {
    line-height: 42px;
  }

  .flogo img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  footer a,
  footer p {
    text-decoration: none;
    font-family: "crimson text";
    color: white;
  }

  footer ul {
    list-style: none;
  }

  .ffootersome {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 27px;
  }

  .ffootersome img {
    width: 60px;
    object-fit: cover;
  }

  .ffootergrid3 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    gap: 280px;
  }

  .ffootercopy {
    font-size: 15px;
    margin-top: 30px;
  }

  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  .arrow-up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
