* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #130704;
}

h1 {
  color: white;
}

p {
  color: black;
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  background-color: #ecdfcf;
}

/***************** MOBIL SITE *******************/
@media (max-width: 800px) {
  .udvalg_tekst {
    padding: 50px;
    background-color: #130704;
  }

  .udvalg_tekst p {
    color: white;
    text-align: center;
  }

  .udvalg_tekst {
    background-color: #130704;
    text-align: center;
  }

  .udvalg {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 40%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .udvalg_w {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .froesnapper {
    width: 170px;
    font-family: "zen loop";
  }

  .croissanter {
    width: 170px;
    font-family: "zen loop";
  }

  .udvalg_elementer {
    display: grid;
    grid-template-rows: min-content;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .udvalg_elementer > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  /* .wienerbroed {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px; */
  /* padding-top: 10px; */
  /* margin-bottom: 100px;
    text-align: center;
  } */

  .wienerbroed {
    margin-left: 20px;
    margin-right: 20px;
  }

  .wienerbroed img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .udvalg p {
    font-family: "zen loop";
    font-weight: bolder;
    font-size: 25px;
  }

  .overskrift_u {
    display: grid;
    place-items: center;
  }

  .overskrift_u img,
  .overskrift_u h1 {
    grid-area: 1/1;
    margin-bottom: 50px;
  }

  .overskrift_u img {
    object-fit: cover;
  }

  .broed_og_boller img {
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: top;
  }

  .overskrift_u h1 {
    font-family: "zen loop";
    font-size: 70px;
    text-align: center;
  }

  .og_meget_mere {
    font-family: "zen loop";
    text-align: center;
    padding-bottom: 40px;
  }

  .og_meget_mere p {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
  }

  .og_meget_mere a {
    margin-bottom: 50px;
    font-weight: bolder;
    color: #28524b;
  }

  /*************** FOOTER  **********/
  footer p,
  footer h1 {
    color: white;
  }

  .ffootertop p {
    font-size: 40px;
  }
}

/***************** DESKTOP SITE *****************/
@media (min-width: 800px) {
  .burger-menu {
    display: none;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  .logo {
    width: 180px;
    object-fit: cover;
    padding-left: 60px;
  }

  nav {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    text-decoration: none;
    justify-content: flex-end;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    align-items: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    color: #fff;
    text-decoration: underline;
  }

  img,
  h1 {
    grid-area: 1 / 1;
  }

  /* Main */

  /******* OVERSKRIFTSBILLEDE ************/
  .overskrift_u {
    display: grid;
    place-items: center;
  }

  .overskrift_u img,
  .overskrift_u h1 {
    grid-area: 1/1;
    /* margin-bottom: 50px; */
  }

  .overskrift_u img {
    aspect-ratio: 3/1;
    object-fit: cover;
  }

  .broed_og_boller img {
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: top;
  }

  .overskrift_u h1 {
    font-family: "zen loop";
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .udvalg_tekst {
    background-color: #130704;
    text-align: center;
    /* padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px; */
    padding: 150px;
  }

  .udvalg_tekst p {
    color: white;
  }

  .udvalg {
    display: grid;
    gap: 40px;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    margin-top: 40px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .udvalg img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
  }

  .udvalg_w {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "zen loop";
    margin-top: 40px;
  }

  .froesnapper {
    width: 400px;
  }

  .croissanter {
    width: 400px;
  }

  .udvalg_elementer {
    display: grid;
    grid-template-rows: min-content;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .udvalg_elementer > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .wienerbroed {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    /* gap: 100px; */
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    margin-bottom: 100px;
    text-align: center;
  }

  .wienerbroed > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .udvalg p {
    font-family: "zen loop";
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    margin-right: 70px;
  }

  .og_meget_mere {
    font-family: "zen loop";
    text-align: center;
  }
  .og_meget_mere a,
  .og_meget_mere p {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 50px;
  }
  .og_meget_mere a {
    color: #28524b;
  }

  /*********** FOOTER *************/

  footer {
    background-color: #130704;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: "crimson text";
    font-size: 20px;
  }

  .ffootertop {
    font-family: "zen loop";
    font-size: 40px;
  }

  .ffootermenu {
    line-height: 42px;
  }

  .flogo img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  footer a,
  footer p {
    text-decoration: none;
    font-family: "crimson text";
    color: white;
  }

  footer ul {
    list-style: none;
  }

  .ffootersome {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 27px;
  }

  .ffootersome img {
    width: 60px;
    object-fit: cover;
  }

  .ffootergrid3 {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    gap: 280px;
  }

  .ffootercopy {
    font-size: 15px;
    margin-top: 30px;
  }

  .ffootertop p {
    font-family: "zen loop";
    font-size: 40px;
  }

  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  .arrow-up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
